$black-color: #161d22;
$bg-color: #212c33;
$bg-active-color: #4187f6;
$text-color: #fff;

:root {
  --black-color: #161d22;
  --bg-color: #212c33;
  --bg-active-color: #246bdd;
  --bg-active-color-dark: #2261c5;
  --text-color: #fff;
}
